{% extends "articulos/base.html" %}
{% block title %}Lista de Artículos{% endblock %}

{% block content %}
<h2>Lista de Artículos</h2>
<a class="btn" href="{% url 'agregar_articulo' %}">Agregar Artículo</a>
<table>
    <thead>
        <tr>
            <th>Código</th>
            <th>Descripción</th>
            <th>Precio Costo</th>
            <th>% Alícuota</th>
            <th>Costo con IVA</th>
            <th>Precio Venta</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for articulo in articulos %}
        <tr>
            <td>{{ articulo.codart }}</td>
            <td>{{ articulo.descrip }}</td>
            <td>{{ articulo.precosto }}</td>
            <td>{{ articulo.alic }}</td>
            <td>{{ articulo.costoiva }}</td>
            <td>{{ articulo.preventa }}</td>
            <td>
                <a href="{% url 'modificar_articulo' articulo.id %}">Editar</a>
                <a href="{% url 'eliminar_articulo' articulo.id %}" 
				   class="btn btn-danger"
				   onclick="return confirm('¿Está seguro que desea eliminar el artículo {{ articulo.descrip }}?');">
			       Eliminar
				</a>
			</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="7">No hay artículos cargados.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
