{% extends "articulos/base.html" %}
{% block title %}Menú Principal – SAF ERP{% endblock %}
{% block content %}

<div class="container-fluid">
  <div class="menu-card card shadow mt-5">
    <div class="card-header text-center fw-bold fs-5 bg-marca text-dark">
      Menú de Artículos
    </div>
    <div class="card-body d-flex flex-column gap-3">
      <a href="{% url 'agregar_articulo' %}" class="btn-aceptar">
        <i class="bi bi-plus-circle"></i> Agregar
      </a>
      <a href="{% url 'lista_articulos' %}" class="btn-aceptar">
        <i class="bi bi-pencil-square"></i> Modificar / Eliminar
      </a>
      <a href="{% url 'lista_articulos' %}?q=" class="btn-cancelar">
        <i class="bi bi-search"></i> Consultar
      </a>
      <a href="{% url 'listar_parametros' %}" class="btn-cancelar">
        <i class="bi bi-sliders"></i> Parámetros del Sistema
      </a>
    </div>
  </div>
</div>

{% endblock %}
