body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.menu {
    margin-bottom: 20px;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

.btn {
    display: inline-block;
    padding: 8px 12px;
    background-color: #444; /* gris oscuro */
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

.btn:hover {
    background-color: #333;
}

.btn-danger {
    background-color: darkred;
}

input[type="text"], input[type="number"], select {
    background-color: rgb(255, 227, 215);
    border: 1px solid #ccc;
    padding: 5px;
}
