{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}Iniciar Sesión{% endblock %}
{% block content %}

<div class="login-wrapper card shadow-sm border-0 mx-auto mt-5 p-4" style="max-width: 400px;">
  <h2 class="text-center mb-4">Iniciar Sesión</h2>

	{% if error %}
		<div class="alert alert-danger text-center">{{ error }}</div>
	{% endif %}
	
	<!-- Modo Beta -->
	{% if mensaje_beta %}
		<div class="alert alert-warning" role="alert">
		{{ mensaje_beta }}
		</div>
	{% endif %}

	<form method="post">
    {% csrf_token %}

    <div class="mb-3">
      {{ form.username.label_tag }}
      {{ form.username|add_class:"form-control text-uppercase" }}
    </div>

    <div class="mb-3">
      {{ form.password.label_tag }}
      {{ form.password|add_class:"form-control" }}
    </div>

    <div class="d-grid mt-4">
      <button type="submit" class="btn btn-institucional d-inline-flex align-items-center justify-content-center gap-2">
        <i class="bi bi-box-arrow-in-right"></i> Ingresar
      </button>
    </div>
  </form>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const userInput = document.querySelector('input[name="username"]');
    if (userInput) {
      userInput.addEventListener('input', e => {
        e.target.value = e.target.value.toUpperCase();
      });
    }
  });
</script>
{% endblock %}

